    * {
        margin: 0;
        padding: 0;
    }
    
    img {
        width: 100%;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    #mobile-header {
        display: grid;
        width: 100%;
        min-height: 10vh;
        grid-template-columns: 20% 40% 20% 20%;
        justify-items: center;
        align-items: center;
        background-color: #f8eddc;
        border-bottom: black thin solid;
    }
    
    #logo {
        display: left;
        width: 50%;
    }
    
    #mobile-phone-icon {
        width: 3vw;
    }
    
    #mobile-hamburger-menu {
        #mobile-menu-checkbox {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
            z-index: 5;
        }
        #mobile-menu-checkbox:checked~#mobile-header-menu {
            top: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
        #mobile-hamburger-container {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 50px;
            height: 50px;
            z-index: 4;
            position: relative;
            .mobile-hamburger-line {
                width: 30px;
                height: 4px;
                background-color: #9C0F10;
            }
        }
        #mobile-header-menu {
            position: absolute;
            width: 100%;
            background-color: #F0D6AD;
            display: grid;
            justify-items: center;
            align-items: center;
            top: -15vh;
            opacity: 0;
            left: 0;
            min-height: 15vh;
            transition: all 0.5s ease-in-out;
            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    
    #mobile-phone-link {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    
    #body {
        display: grid;
    }
    
    #mobile-content {
        display: grid;
        grid-template-rows: repeat(auto-fit), minmax(150px, 2fr);
        img {
            width: 98%;
        }
    }
    
    #call-to-order {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    
    .call-to-order {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-right: 1em;
    }
    
    #mobile-top-section {
        display: grid;
        justify-items: center;
        align-items: center;
        border-bottom: solid black;
    }
    
    #second-home-image {
        display: none;
    }
    
    #mobile-bottom-section {
        display: grid;
    }
    
    #mobile-tuesday-special {
        display: grid;
        position: absolute;
        justify-items: center;
        align-items: center;
        left: 21vw;
        font-weight: bold;
        font-size: large;
        top: 18vh;
        border: medium solid #F0D6AD;
        background-color: #F0D6AD;
        padding: 10px;
        margin-top: 30px;
        box-shadow: 4px 5px #c7b08a;
    }
    
    #mobile-restaurant-details {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        border: black solid thick;
        min-height: 45px;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 1px;
        justify-items: center;
        align-items: center;
    }
    
    #mobile-home-hours-1 {
        margin: 0;
        padding: 0;
        font-size: xx-large;
    }
    
    #mobile-home-hours-2 {
        font-size: 18px;
    }
    
    .white-space {
        white-space: pre;
    }
    
    .google-map {
        width: 100%;
        justify-items: center;
        align-items: center;
        padding: 1px;
        height: 30vh;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    #homepage-pizza {
        width: 100%;
    }
    
    .mobile-footer {
        width: 100%;
        min-height: 20vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        background-color: #f8eddc;
        border-top: thin solid black;
    }
    
    #card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 80vh;
    }
    
    .mobile-menu-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat();
        justify-items: center;
        align-items: center;
        text-align: center;
        border-top: thin solid black;
        border-bottom: thin solid black;
        background-color: whitesmoke;
    }
    
    .menu-ingrediant-mobile {
        padding: 2em;
        margin: 2em;
    }
    
    h1 {
        padding: 1em;
    }
    
    .price-menu {
        padding: 1em;
    }
    
    #container-about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 40vh;
        background-color: whitesmoke;
    }
    
    .mobile-about-header {
        justify-items: center;
        align-items: center;
        display: grid;
        height: 4vh;
        margin: 0;
        padding-right: 1.5em;
    }
    
    #images-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
        justify-items: center;
        align-items: center;
        width: 96%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .mobile-about-content {
        display: grid;
        text-align: center;
        justify-items: center;
        margin: 1.9em;
        margin-left: 1.5em;
        padding: 1em;
        border: thin solid black;
    }
    
    #mobile-video-about {
        display: grid;
        padding: 1.5em;
        align-items: center;
        justify-items: center;
    }
    
    @media only screen and (min-width: 600px) {
        #mobile-video-about {
            display: grid;
            padding-left: 30%;
            align-items: center;
            justify-items: center;
            min-height: 300px;
        }
        .price-menu {
            padding: 2em;
        }
        #images-mobile {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            justify-items: center;
            align-items: center;
        }
        .mobile-about-content {
            text-align: center;
            padding: 1em;
            font-style: bold;
            margin: 1.5em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: black solid thick;
        }
        #mobile-tuesday-special {
            display: grid;
            grid-template-rows: 1, 1fr;
            position: absolute;
            justify-items: center;
            align-items: center;
            left: 32vw;
            font-weight: bold;
            font-size: x-large;
            top: 18vh;
            border: medium solid #F0D6AD;
            background-color: #F0D6AD;
            padding: 18px;
            box-shadow: 4px 5px #c7b08a;
        }
        .mobile-a-tag {
            display: none;
        }
        #Phone {
            display: none;
            ;
        }
        .mobile-about-header-two {
            display: grid;
            justify-items: center;
            align-items: center;
            border: solid thin black;
        }
        .menu-ingrediant-tablet {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: large;
            font-weight: bold;
        }
        h1 {
            padding: 2em;
        }
    }
    
    @media only screen and (min-width: 1020px) {
        #logo {
            display: left;
            width: 10vw;
        }
        #mobile-tuesday-special {
            display: grid;
            grid-template-rows: 1, 1fr;
            position: absolute;
            justify-items: center;
            align-items: center;
            left: 36vw;
            font-weight: bold;
            font-size: x-large;
            top: 25vh;
            border: medium solid #F0D6AD;
            background-color: #F0D6AD;
            margin: 2em;
            padding: 21px;
            box-shadow: 4px 5px #c7b08a;
        }
        .mobile-about-header {
            justify-items: center;
            align-items: center;
            display: grid;
            padding-left: 2.5rem;
            height: 4vh;
        }
        #second-home-image {
            display: grid;
            width: 50%;
            height: 450px;
        }
        #mobile-top-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 0;
            padding: 1.5em;
        }
        #homepage-pizza {
            width: 50%;
            height: fit-content;
        }
        #mobile-restaurant-details {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            border: black solid thin;
            min-height: 45px;
            padding: 2px;
            margin-top: 30px;
            margin-left: 21em;
            margin-bottom: 10px;
            justify-items: center;
            align-items: center;
            width: 50%;
        }
        #mobile-home-hours-1 {
            margin: 0;
            padding: 0;
            font-size: xx-large;
        }
        #mobile-home-hours-2 {
            font-size: 1.5em;
        }
        #homepage-pizza {
            margin: 1em;
            height: 450px;
            padding: 1.2em;
            border: thick solid maroon;
        }
        #second-home-image {
            padding: 0.8em;
            border: thick solid maroon;
        }
        img {
            width: 65%;
        }
        .images-desktop-about {
            display: grid;
            justify-items: center;
            align-items: center;
            padding-left: 110px;
        }
        #mobile-video-about {
            display: grid;
            align-items: center;
            justify-items: center;
            padding-left: 385px;
            width: 45%;
        }
        .mobile-about-content {
            text-align: center;
            padding: 3em;
            font-style: bold;
            margin: 2em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: black solid thin;
        }
        .price-menu {
            padding: 2em;
        }
        .menu-image {
            border: thick solid maroon;
        }
        h1 {
            padding: 2em;
        }
    }