* {
    margin: 0;
    padding: 0;
}

#header {
    display: grid;
    width: 100%;
    min-height: 10vh;
    grid-template-columns: 20% 40% 20% 20%;
    justify-items: center;
    align-items: center;
}

#logo {
    display: left;
    height: 10vw;
}

#content {
    display: grid;
    grid-template-rows: repeat(auto-fit), minmax(150px, 2fr);
}