* {
    margin: 0;
    padding: 0;
}

#header {
    display: grid;
    width: 100%;
    min-height: 10vh;
    grid-template-columns: 20% 40% 20% 20%;
    justify-items: center;
    align-items: center;
}

#logo {
    display: left;
    height: 14vw;
}

#phone-icon {
    width: 3vw;
}

#body {
    display: grid;
}

#content {
    display: grid;
    grid-template-rows: repeat(auto-fit), minmax(150px, 2fr);
}

#top-section {
    display: grid;
    justify-items: center;
    align-items: center;
    border-bottom: solid black;
}

#bottom-section {
    display: grid;
}

.google-map {
    width: 100%;
}

#homepage-pizza {
    width: 100%;
}

#footer {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
}